body {
    background-color: green;
}
#candidate-profile {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

.candidate-info {

}

.header--xxl-xlarge {
    color: blue;
}

.header {
    text-align: center;
}

.image {
    border: 2px solid black;

}

.committe-leg-div {
    display: flex;

}
.committee-section {
    border: 2px black solid;
    flex: 1;
    /* float: left; */
    /* width: 50%; */
    border-radius: 14%;
    padding: 1%;
    background-color: purple;
}

.legislation-section {
    border: 2px black solid;
    flex: 1;
    /* float: right; */
    /* width: 50%; */
    border-radius: 14%;
    padding: 1%;
    background-color: yellow;
}
